@media (max-width: 992px){

}

@media (min-width: 768px) {
   .items .item .descr{
   	margin-left: 0;
   }
}

@media (max-width: 768px){

	.items{
		margin-top: 50px;
	}
    .items .item {
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: reverse;
    	    -ms-flex-direction: column-reverse;
    	        flex-direction: column-reverse;
        margin: 90px 0;  	        
    }

    .items .item .descr{
   	margin-left: 0;
   }
}

@media (max-width: 457px){
   .header .bg-text{
   	margin-left: -200px;
   }

   .items .item .price span{
   	margin-top: 200px;
   }
}